// Logo
.logo {
    height: 2.2rem;
}

// Search box
.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-input {
        width: 90%;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.4rem 1rem;
        border-radius: 1.7rem;
        transition: all .2s;
        margin-right: -3rem; // to position magnifying glass

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark-3);
        }
    }

    &-button {
        background-color: var(--color-grey-light-2);
        border: none;
        transition: all .2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-input:focus + &-button { // as we need to change the color of magnifying glass on input focus
        background-color: var(--color-grey-light-3);
    }

    &-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-grey-dark-3);
    }
}

// User navigation
.user-nav {
    flex: 0 0 18%;
    display: flex;
    align-self: stretch;
    justify-content: flex-end;

    & > * {
        padding: 0 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
        border-radius: 0.2rem;
    }

    &-icon-box {
        position: relative;
    }

    &-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-grey-dark-2);
    }

    &-notifications {
        font-size: 0.7rem;
        background-color: var(--color-primary);
        color: white;
        border-radius: 50%;
        width: 1.1rem;
        height: 1.1rem;
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-user-photo {
        height: 2.2rem;
        border-radius: 50%;
        padding-right: 0.5rem;
    }
}

//sidebar
.sidebar-nav {
    font-size: 1.1rem;
    list-style: none;

    &-item {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        list-style: none;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.2rem;
        }

        &-link {
            z-index: 2;
            text-decoration: none;
            color: var(--color-grey-light-1);
            text-transform: uppercase;
        }
    
        &-icon {
            z-index: 2;
            width: 1.2rem;
            height: 1.2rem;
            fill: currentColor; // color of element or parent element
            margin-right: 1rem;
        }
    }

    &-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s,
                    width 0.4s cubic-bezier(1, 0, 0, 1) .2s; // we can apply different timing for diffrent props.
    }

    &-item:hover::before,
    &-item-active::before {
        transform: scaleY(1);
        width: 100%;
    }
}

.legal {
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 1rem;
}

//gallery
.gallery {
    display: flex;

    &-item > * {
        display: block;
        width: 100%;
    }
}

.overview {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--color-grey-light-2);

    &-heading {
        font-weight: normal;
        text-transform: uppercase;
        padding: 0 1rem;
    }


    &-stars {
        // flex: 1;
        margin-right: auto; // trick; try to remove and see behaviour 
        display: flex; 
        & > * {
            width: 1.2rem;
            height: 1.2rem;
            fill: var(--color-primary);
        }
    }

    &-location {
        display: flex;
        &-map {
            width: 1.2rem;
            height: 1.2rem;
            fill: var(--color-primary);
        }
    }

    &-rating {
        background-color: var(--color-primary);
        color: var(--color-grey-light-1);
        padding: 0.3rem 0.5rem;
        align-items: stretch;
        display: flex;
        align-items: center;
        flex-direction: column;

        &-avg {
            font-size: 1.6rem;
        }

        &-count {
            font-size: 0.8rem;
        }
    }
}

.btn-inline {
    border: none;
    padding: 0.2rem;
    margin-right: 0.8rem;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    display: inline-block;
    background-color: white;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        background-color: var(--color-grey-light-2);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

//Details
.detail {
    display: flex;
    padding: 3.5rem;
    border-bottom: 1px solid var(--color-grey-light-2);
}

.description {
    flex: 0 0 60%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    margin-right: 2.5rem;

    .paragraph {
        margin-bottom: 2rem;
    }

    .list {
        list-style: none;
        padding: 2rem 0;
        margin: 2rem 0;
        border-bottom: 1px solid var(--color-grey-light-2);
        border-top: 1px solid var(--color-grey-light-2);
        display: flex;
        flex-wrap: wrap;

        &-item {
            flex: 0 0 50%;
            margin-bottom: 0.5rem;
        }

        &-item::before {
            content: "";
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            margin-right: 0.5rem;

            // for older browser
            // background-image: url(../img/chevron-thin-right.svg);
            // background-size: cover;

            // for new browser
            // we can't change color of background image, in case if we want to do
            // we can use mask
            background-color: var(--color-primary);
            -webkit-mask-image: url(../img/chevron-thin-right.svg); // cool stuff
            -webkit-mask-size: cover;

        }
    }
}

.recommend {
    display: flex;
    align-items: center;

    &-count {
        font-size: 0.8rem;
        margin-right: auto;
    }

    &-friends {
        & > * {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 3px solid white;
        }

        & > *:not(:last-child) {
            margin-right: -1rem;
        }

    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.review {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;

    &-text {
        margin-bottom: 1.7rem;
        position: relative;
        z-index: 2;
    }

    &-user {
        display: flex;
        align-items: center;
    }

    &-photo {
        height: 3rem;
        border-radius: 50%;
        margin-right: 0.8rem;
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -5.5rem;
        left: -0.5rem;
        font-size: 13rem;
        color: var(--color-grey-light-3);
        font-family: sans-serif;
        z-index: 1;
    }
}

.user {
    &-box {
        margin-right: auto;
    }

    &-name {
        font-weight: 600;
        text-transform: uppercase;
    }

    &-date {
        font-size: 0.8rem;
        color: var(--color-grey-dark-3);
    }

    &-rating {
        font-weight: 300;
        font-size: 1.7rem;
        color: var(--color-primary);
    }
}

.btn {
    align-self: center;
}